@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;

    background-image: url(../imgs/bg-stars.svg);
    background-size: cover;
    background-color: #231D2B;
    font-family: monospace;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > main{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body > main > h1{
    color: white;
    font-size: 1.5em;

    margin-bottom: 10vh;
}
body > main > div > div > h2{
    color: #7E7E9A;
}
body > main > div{
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body > main > div > div{
    width: 170px;
    height: 180px;

    
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

div.box{
    width: 100%;
    height: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 15px;

    border-top: 1px solid #1A1A24;
    border-bottom: 12px solid #1A1A24;
    background: #2C2C44;
    color: #F65A81;
    font-size: 6em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
body > footer{
    width: 100%;
    height: 30%;

    background-image: url(../imgs/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

body > footer img{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px){
    div.box{
        width: 16vw;
        height: 8vh;

        font-size: 2em;
    }
    body > main > div > div{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 400px){
    div.box{
        width: 13vw;
        height: 7vh;

        font-size: 2em;
    }
    body > main > div > div{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 300px){
    div.box{
        width: 10vw;
        height: 7vh;

        font-size: 2em;
    }
    body > main > div > div{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 290px){
    div.box{
        width: 60px;
        height: 50px;

        font-size: 2em;
        flex-direction: column;
        
    }
    body > main > div{
        flex-direction: column;
        
    }
    body > main > div > div{
        justify-content: center;
        align-items: center;
    }
}
